nav {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(5, 5, 110);
  padding: 20px; /* Adjusted padding */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h3{
  font-size: 20px;
}
#navbar li {
  display: inline-block;
  padding: 0 20px;
  list-style-type: none;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  position: relative; /* Added position: relative to the anchor */
  transition: 0.3s ease-in-out;
}

#navbar li a:hover {
  color: aquamarine;
}

#navbar li a::after {
  content: "";
  width: 0; /* Initial width set to 0 */
  height: 2px;
  background-color:white;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease; /* Added transition for smooth effect */
}

#navbar li a:hover::after {
  width: 100%;
}

#mobile i {
  background-color: rgb(5, 5, 110);
}

#mobile {
  display: none;
  background-color: rgb(5, 5, 110);
}

/* NavBar.css */

@media screen and (max-width: 760px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 80px; /* Adjusted top position */
    left: 0;
    right: 0;
    width: 100%; /* Adjusted width to take full viewport width */
    height: 100vh;
    background-color: rgb(57, 67, 64);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    display: none; /* Hide the menu by default */
  }

  #navbar.active {
    display: flex; /* Show the menu when active */
  }

  #mobile {
    display: block;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
